/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2016, 12:52:06 PM
    Author     : Steve
*/


.color-picker {
    -fx-padding: 2px;
}

.edit_toolbar_row {
    -fx-padding: 0px;
    -fx-spacing: 10;
    -fx-background-color: #ddddff;
    -fx-background-radius: 5.0;
    -fx-font-size: 14px;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.color_chooser_pane {
    -fx-background-color:seashell;
    -fx-padding: 0px;
}

.color_chooser_control {
    -fx-font-weight:bold;
    -fx-font-size:20;     
}
.vbox {
    -fx-width:100;
    -fx-height:150;
    -fx-background-color: #ddddff;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}


/*// CSS CLASS FOR OUR BIG PANES*/
.bordered_pane {
    -fx-background-color: #aaaaff;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #7777dd;
}

.root {
    -fx-background-color: #D3D3D333,
        linear-gradient(from 0.5px 0px to 10.5px 0px, repeat, black 5%, transparent 5%),
        linear-gradient(from 0px 0.5px to 0px 10.5px, repeat, black 5%, transparent 5%);
}
